<footer>
  <div class="site-footer">
    <div class="social">
      <a href='https://www.linkedin.com/in/dannychachang/' target="_blank"><img src="/assets/images/home/linkedinIcon.png" alt="" class="social-icon"></a>
      <a href='https://github.com/pacemade' target="_blank"><img src="/assets/images/home/githubIcon.png" alt="" class="social-icon"></a>
      <a href='mailto:dannychachang@gmail.com' target="_blank"><img src="/assets/images/home/emailIcon.png" alt="" class="social-icon"></a>
      <a href='https://www.instagram.com/pacemade/' target="_blank"><img src="/assets/images/home/igIcon.png" alt="" class="social-icon"></a>
    </div>
    <div class="copyright">
      <h5>&copy; 2018 Danny Chang</h5>
    </div>
  </div>
</footer>
