<header class="header">
  <div class="site-header">
    <a class="logo" href="{{site.baseurl}}/index.html">helloitsdanny</a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
      <ul class="menu">
        <li><a href="{{site.baseurl}}/about.html">About</a></li>
        <li><a href="{{site.baseurl}}/web_dev.html">Web Development</a></li>
        <li><a href="{{site.baseurl}}/photography.html">Photography</a></li>
        <li><a href="{{site.baseurl}}/music.html">Music</a></li>
      </ul>
    </div>
</header>
