<header class="header">
  <div class="site-header">
    <a class="logo" href="{{site.baseurl}}/index.html">helloitsdanny</a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
      <ul class="menu">
        <li><a href="/about.html">about</a></li>
        <li><a href="/web_dev.html">web development</a></li>
        <li><a href="/photography.html">photography</a></li>
        <li><a href="/blog.html">blog</a></li>
      </ul>
    </div>
</header>
