.blogTitle {
  text-align: center;
  font-size: 4em;
}

.lineBreak {
  border-bottom: 2px solid black;
  width: 80%;
  margin: auto;
}

.blogIntro {
  text-align: center;
  width: 75%;
  margin: auto;
  padding: 40px;
}

.stats p {
  text-align: center;
}

.blogName {
  position: absolute;
  left: 5%;
  top: 3%;
  text-align: center;
}

.portraitsBlog {
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 40px;
}
