.blogTitle {
  text-align: center;
  font-size: 4em;
}

.lineBreak {
  border-bottom: 2px solid black;
  width: 80%;
  margin: auto;
}

.blogIntro {
  text-align: center;
  width: 75%;
  margin: auto;
  padding: 40px;
}
