div.album {
  img {
    border-radius: 5px;
    object-fit: cover;
  }
  p {
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {

  div.album {
    margin: 0 1.5% 0 3%;
    float: left;
    width: 45% ;
    text-align: center;
  }

  // margins both sides for the image album in the middle
  .album-container .album:nth-child(2n) {
    margin-left: 1.5%;
    margin-right: 3%;
  }

  div.desc {
    padding: 15px;
    text-align: center;
  }

}
