header {
  background-color: rgb(187, 157, 145);
}

// this lets the nav float right without being weird
header::after {
  content: '';
  display: table;
  clear: both;
}

.site-header {
  width: 80%;
  margin: 0 auto;
  h1 {
    float: left;
    a {
      text-decoration: none;
    }
  }
  nav {
    float: right;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    li {
      display: inline-block;
      margin-left: 20px;
      padding-top: 25px;

      position: relative;
    }
    a {
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}

nav a:hover {
  color: green;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 10px;
  width: 0%;

  transition: all ease-in-out 150ms;
}

nav a:hover::before {
  width: 100%;
}

.site-footer {

}
