header {
  background-color: $primaryColor;
}

// this lets the nav float right without being weird
header::after {
  content: '';
  display: table;
  clear: both;
}

.site-header {
  width: 80%;
  margin: 0 auto;
  h1 {
    float: left;
    a {
      text-decoration: none;
      color: $anchorColor;
    }
  }
  nav {
    float: right;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    li {
      display: inline-block;
      margin-left: 20px;
      padding-top: 25px;

      position: relative;
    }
    a {
      text-decoration: none;
      text-transform: uppercase;
      color: $anchorColor;
    }
  }
}

nav a:hover {
  color: $hoverColor;
}

// Makes the square thingies ease in
nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: $anchorColor;

  position: absolute;
  top: 10px;
  width: 0%;

  transition: all ease-in-out 150ms;
}

nav a:hover::before {
  width: 100%;
}

// footer starts here ===================

footer {
  background-color:$primaryColor;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  overflow:hidden;
}

.site-footer {
  width: 80%;
  margin: 0 auto;
  background-color: $primaryColor;
  color: $anchorColor;
}
