header {
  width: 100%;
  background-color: $primaryColor;
}

// this lets the nav float right without being weird
.site-header::after {
  content: '';
  display: table;
  clear: both;
}

.site-header {
  width: 100%;
  margin: 0 auto;
  z-index: 3;
}

.menu a:hover {
  color: $hoverColor;
}

.menu li {
  list-style-type: none;
}

.menu a {
  text-decoration: none;
  color: $anchorColor;
  font-size: 1.5em;
}

// footer starts here ===================

footer {
  background-color: $primaryColor;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow:hidden;
}

.site-footer {
  width: 80%;
  margin: 0 auto;
  background-color: $primaryColor;
  color: $anchorColor;
  display: table;
  text-align: center;
  .copyright h5 {
    margin-top: 0;
  }
}

// SOCIAL ICONS

.social {
  display: block;
  vertical-align: middle;
  margin-bottom: 0;
  img {
    width: 30px;
    margin: 15px;
  }
  img:hover {
    opacity: 0.5;
  }
}


// Hamburger menu

.site-header ul {
  overflow: hidden;
}

.site-header .logo {
  display: block;
  float: left;
  font-size: 33px;
  padding: 10px 20px;
  text-decoration: none;
  color: $anchorColor;
}

// Menu

.site-header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .5s ease-in;
}

// Menu Icon

.site-header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 30px 20px 35px 20px;
  position: relative;
  user-select: none;
}

.site-header .menu-icon .navicon {
  background: $anchorColor;
  display: block;
  height: 2px;
  position: relative;
  transition: background .4s ease-out;
  width: 18px;
}

.site-header .menu-icon .navicon:before,
.site-header .menu-icon .navicon:after {
  background: $anchorColor;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .4s ease-out;
  width: 100%;
}

.site-header .menu-icon .navicon:before {
  top: 5px;
}

.site-header .menu-icon .navicon:after {
  top: -5px;
}

// menu btn

.site-header .menu-btn {
  display: none;
}

.site-header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.site-header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.site-header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.site-header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.site-header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.site-header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

// Responsive
@media only screen and (min-width: $medium) {

  .site-header {
    .logo {
      font-size: 3.0em;
      padding-right: 0px;
    }
    li a {
      font-size: 1.6em;
    }
  }
  .social img {
    width: 45px;
  }
  .site-header .menu-icon {
    padding-top: 38px;
  }

}

@media only screen and (min-width: $large) {

  .site-header li {
    float: left;
  }
  .site-header li a {
    padding: 20px 20px;
    display: table-cell;
    vertical-align: middle;
  }
  .logo {
    margin-top: 10px;
  }

  .site-header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .site-header .menu-icon {
    display: none;
  }

}
