body {
  background-color: $backgroundColor;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

.portrait {
  height: 200px;
  width: 200px;
  text-align: center;
  margin: 0 auto;
  img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
  }
}
