body {
  background-color: $backgroundColor;
}

.wrapper {
  width: 95%;
  margin: 3em auto;
  overflow: hidden;
}

.portrait {
  text-align: center;
  margin: 50px 0 75px auto;
  img {
    // border-radius: 50%;
    // border: 5px solid $primaryColor;
    height: 300px;
    width: 100%;
    object-fit: cover;
    background-color: $primaryColor;
  }
}

@media only screen and (min-width: 800px) {
  .wrapper {
    width: 800px;
  }
}
