body {
  background-color: $backgroundColor;
}

.wrapper {
  width: 95%;
  margin: 10em auto;
  overflow: hidden;
}

.portrait {
  text-align: center;
  margin: 50px 0 75px auto;
  img {
    border-radius: 50%;
    border: 5px solid $primaryColor;
    height: 200px;
    width: 200px;
    object-fit: cover;
    background-color: $primaryColor;
  }
}
