$primaryColor: #252525;
$hoverColor: #ffffff;
$anchorColor: #fdd947;
$backgroundColor: #d5d5d3;
$fontColor: #444444;

// Blue Mood
// #a9bcc2
// #80aebd
// #323433
// #cbbc97
// #81979b

// Difficult Dream
// #e8dfc7
// #bfa898
// #9b4447
// #3d484b
// #91bca8

// GoldBold
// #252525
// #d5d5d3
// #ffffff
// #444444
// #fdd947
