---
layout: default
---

<link href="/css/lightbox.css" rel="stylesheet" />

{% for gallery in site.data.galleries %}
  {% if gallery.id == page.galleryid %}
    <h1>{{ gallery.id }}</h1>
    <h4>{{ gallery.description }}</h4>

    {% for image in gallery.images %}
      {{ image.text }}<br>
      <div class="gallery">
        <a href="{{ gallery.imagefolder }}/{{ image.name }}" data-lightbox="{{ gallery.id }}" title="{{ image.text }}">
          <img src="{{ gallery.imagefolder }}/{{ image.thumb }}">
        </a>
      </div>
    {% endfor %}
  {% endif %}
{% endfor %}

<script src="/assets/js/lightbox.js"></script>
