---
layout: default
---

<link href="/css/lightbox.css" rel="stylesheet" />

<div class="gallery-container">

  {% for gallery in site.data.galleries %}
    {% if gallery.id == page.galleryid %}
      <h1>{{ gallery.id }}</h1>
      <h4>{{ gallery.description }}</h4>
      <div class="masonry">
        {% for image in gallery.images %}
          <div class="item"><a href="{{ gallery.imagefolder }}/{{ image.name }}" data-lightbox="{{ gallery.id }}" title="{{ image.text }}">
            <img src="{{ gallery.imagefolder }}/{{ image.thumb }}">
            </a>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endfor %}

</div>


<script src="/assets/js/lightbox.js"></script>
