---
layout: default
---
<div class="panels">
  <div class="panel panel1">
    <p>DJ</p>
    <div class="icon dj">
      <img src="/assets/images/home/djIcon.png" alt="">
    </div>
    <p></p>
  </div>
  <div class="panel panel2">
    <p>Web</p>
    <div class="icon">
      <img src="/assets/images/home/webDevIcon.png" alt="">
    </div>
    <p>Development</p>
  </div>
  <div class="panel panel3">
    <p>Photography</p>
    <div class="icon">
      <img src="/assets/images/home/cameraIcon.png" alt="">
    </div>
    <p></p>
  </div>
</div>

<script type="text/javascript" src="/assets/js/panels.js">

</script>
