---
layout: default_no_wrapper
---
<div class="panels">
  <div class="panel panel1">
      <p></p>
      <div class="icon dj">
        <a href="{{site.baseurl}}/music.html">
          <img src="/assets/images/home/djIcon.png" alt="">
        </a>
      </div>
      <p></p>
  </div>

  <div class="panel panel2">
    <p></p>
    <div class="icon">
      <a href="{{site.baseurl}}/web_dev.html">
        <img src="/assets/images/home/webDevIcon.png" alt="">
      </a>
    </div>
    <p></p>
  </div>

  <div class="panel panel3">
    <p></p>
    <div class="icon">
      <a href="{{site.baseurl}}/photography.html">
        <img src="/assets/images/home/cameraIcon.png" alt="">
      </a>
    </div>
    <p></p>
  </div>
</div>

<script type="text/javascript" src="/assets/js/panels.js"></script>
