---
layout: default
---
<link href="/css/lightbox.css" rel="stylesheet" />

<div class="gallery-container">

  {% for project in site.data.projects %}
    {% if project.id == page.projectid %}
      <h1>{{ project.title }}</h1>
      <h4>{{ project.description }}</h4>
      <h4><a href="https://{{ project.link }}" class="link">{{ project.link }}</a></h4>
      <div class="masonry">
        {% for image in project.images %}
          <div class="item"><a href="{{ project.imagefolder }}/{{ image.name }}" data-lightbox="{{ project.id }}" title="{{ image.text }}">
            <img src="{{ project.imagefolder }}/{{ image.thumb }}">
            </a>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endfor %}

</div>

<script src="/assets/js/lightbox.js"></script>
